@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    width: 100%;
    display: block;
}

.container {
    margin: 0 200px;

    @include max(1600px) {
        margin: 0 100px;
    }

    @include max(992px) {
        margin: 0 70px;
    }

    @include max(768px) {
        margin: 0 30px;
    }
}

// color
$primary-color: #0058B5;
$black-color: #000000;
$white-color: #ffffff;
$secondary-color: #F7CE00;
$grey-color: #767676;
$grey-light-color: #f9f9f9;