.home_page_items {
    position: relative;
    background: $grey-light-color;

    .home_page {
        height: 100vh;
        display: flex;
        align-items: center;
        gap: 40px;


        @include max(992px) {
            gap: 50px;
        }

        @include max(768px) {
            flex-direction: column;
            gap: 20px;
            justify-content: center;
        }

        .image {
            width: 30%;
            height: 300px;
            position: relative;

            @include max(992px) {
                width: 40%;
            }

            @include max(768px) {
                width: 50%;
            }

            .profile_image {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: url('/src/assets/images/profilephoto.jpg');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-blend-mode: multiply;
                box-shadow: inset 0px 0px 0px 9px rgba(255, 255, 255, .3);
            }

            img {
                height: 100%;

            }
        }

        .title {
            width: 70%;

            @include max(992px) {
                width: 60%;
            }

            @include max(768px) {
                width: inherit;
                text-align: center;
            }

            h1 {
                text-transform: uppercase;
            }

            .description {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: $grey-color;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    line-height: normal !important;
                }

                .social_sites {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    @include max(768px) {
                        justify-content: center;
                    }

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

        }
    }


}