.nested_layout {
    display: flex;
    position: relative;

    .sidebar {
        width: 450px;
        height: 100vh;
        transition: all 0.3s ease;
        transform: translateX(0);
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 999;

        @include max(1600px) {
            width: 350px;
        }
    }

    .sidebar_w-0 {
        width: 0%;
    }

    .hide_sidebar {
        transform: translateX(-100%);
    }

    .homepage {
        position: relative;
        width: 100%;
        padding-left: 450px;

        @include max(1600px) {
            padding-left: 350px;
        }

        @include max(992px) {
            padding-left: 0;
        }
    }

    .menu-toggle {
        position: absolute;
        z-index: 9999999;

        button {
            outline: none;
            border: none;
            cursor: pointer;
            position: fixed;
            top: 28px;
            left: 25px;
            border-radius: 50%;
            background: transparent;

            @include min(992px) {
                display: none;
            }

            svg {
                path {
                    stroke: white !important;
                }
            }
        }
    }
}