.sidebar_page {
    height: 100%;
    position: relative;

    .sidebar_bottom {
        height: 100%;
        background: $primary-color;
        display: flex;
        justify-content: center;
        padding-block: 10rem;
        position: relative;
        flex-direction: column;
        gap: 50px;
        padding: 0 100px;


        .title {
            h1 {
                font-size: 32px;
                font-weight: 900;
                text-transform: uppercase;
                color: $white-color;
                line-height: 30px;

                @include max(1600px) {
                    opacity: 1 !important;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style: none;
            gap: 10px;

            li {
                @include max(1600px) {
                    opacity: 1 !important;
                }

                a {
                    color: $white-color;
                    font-size: 16px;
                    font-weight: 400;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        color: $secondary-color;
                    }

                    &.active {
                        color: $secondary-color;
                    }
                }
            }
        }

    }
}